{
  "CN": "{{ca_cn}}",
  "key": {
    "algo": "{{ca_key_algo}}",
    "size": {{ca_key_size}}
  },
  "names": [
    {
      "C": "{{ca_name_c}}",
      "ST": "{{ca_name_st}}",
      "L": "{{ca_name_l}}",
      "O": "{{ca_name_o}}",
      "OU": "{{ca_name_ou}}"
    }
  ]
}
