{
  "CN": "{{ kube_proxy_cn }}",
  "hosts": [
  ],
  "key": {
    "algo": "{{ kube_proxy_key_algo }}",
    "size": {{ kube_proxy_key_size }}
  },
  "names": [
    {
      "C": "{{ kube_proxy_name_c }}",
      "ST": "{{ kube_proxy_name_st }}",
      "L": "{{ kube_proxy_name_l }}",
      "O": "{{ kube_proxy_name_o }}",
      "OU": "{{ kube_proxy_name_ou }}"
    }
  ]
}
