apiVersion: v1
kind: Config
current-context: {{ cluster_name }}-kubelet@kubernetes
preferences: {}
clusters:
- cluster:
    certificate-authority-data: {{ bootstrap_certs.results[0]['content'] }}
{% if loadbalancer_apiserver.domain is not defined %}
    server: https://{{ loadbalancer_apiserver.address }}:{{ loadbalancer_apiserver.port }}
{% else %}
    server: https://{{ loadbalancer_apiserver.domain }}:{{ loadbalancer_apiserver.port }}
{% endif %}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: {{ token_account }}
  name: {{ cluster_name }}-kubelet@kubernetes
users:
- name: {{ token_account }}
  user:
    as-user-extra: {}
    token: {{ token_content }}
