apiVersion: v1
kind: Config
current-context: {{ cluster_name }}-kube-proxy@kubernetes
preferences: {}
clusters:
- cluster:
    certificate-authority-data: {{ kube_proxy_certs.results[0]['content'] }}
    server: https://{{ loadbalancer_apiserver.address }}:{{ loadbalancer_apiserver.port }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: {{ kube_proxy_account }}
  name: {{ cluster_name }}-kube-proxy@kubernetes
users:
- name: {{ kube_proxy_account }}
  user:
    as-user-extra: {}
    client-certificate-data: {{ kube_proxy_certs.results[1]['content'] }}
    client-key-data: {{ kube_proxy_certs.results[2]['content'] }}
