[Unit]
Description=Kubernetes Kube-Proxy Server
After=network.target

[Service]
WorkingDirectory={{ kube_proxy_working_dir }}
ExecStart={{ kube_bin_dir }}/kube-proxy \
  --bind-address={{ ip | default(ansible_default_ipv4.address) }} \
  --hostname-override={{ ansible_hostname }} \
  --cluster-cidr={{ kube_service_cluster_ip_range }} \
  --kubeconfig={{ kube_certs_dir }}/kube-proxy.kubeconfig \
  --proxy-mode={{ kube_proxy_mode }} \
{% if kube_proxy_mode == "ipvs" %}
  --masquerade-all \
  --feature-gates=SupportIPVSProxyMode=true \
  --ipvs-min-sync-period=5s \
  --ipvs-sync-period=5s \
  --ipvs-scheduler=rr \
{% endif %}
  --v={{ kube_log_level }}
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
