apiVersion: v1
kind: Config
current-context: {{ cluster_name }}-admin@kubernetes
preferences: {}
clusters:
- cluster:
    certificate-authority-data: {{ admin_certs.results[0]['content'] }}
    server: https://{{ loadbalancer_apiserver.address }}:{{ loadbalancer_apiserver.port }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: {{ cluster_name }}-admin
  name: {{ cluster_name }}-admin@kubernetes
users:
- name: {{ cluster_name }}-admin
  user:
    client-certificate-data: {{ admin_certs.results[1]['content'] }}
    client-key-data: {{ admin_certs.results[2]['content'] }}
