[Unit]
Description=Kubernetes Controller Manager
After=network.target
After=kube-apiserver.service

[Service]
ExecStart={{ kube_bin_dir }}/kube-controller-manager \
  --address=127.0.0.1 \
  --master=http://127.0.0.1:8080 \
  --allocate-node-cidrs=true \
  --service-cluster-ip-range={{ kube_service_cluster_ip_range }} \
  --cluster-cidr={{ kube_pods_subnet }} \
  --cluster-name=kubernetes \
  --cluster-signing-cert-file={{ kube_certs_dir }}/ca.pem \
  --cluster-signing-key-file={{ kube_certs_dir }}/ca-key.pem \
  --service-account-private-key-file={{ kube_certs_dir }}/kube-apiserver-key.pem \
  --root-ca-file={{ kube_certs_dir }}/ca.pem \
  --leader-elect=true \
  --node-monitor-grace-period=40s \
  --node-monitor-period=5s \
  --pod-eviction-timeout=5m0s \
  --v={{ kube_log_level }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
